shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true

public-hoist-pattern[]=@css-render/vue3-ssr
public-hoist-pattern[]=vueuc
public-hoist-pattern[]=naive-ui

# Option 2
shamefully-hoist=true
