.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.env
*.zip

apps/web/public/assets/img/
packages/core/src/constants/data.mjs

.vercel

tmp/

*.exe
*.dmg
*.deb
*.rpm
*.tar.gz
*.tar.xz
*.tar.bz2