:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  /* min-width: 0; */
  scrollbar-width: thin !important;
}

html,
textarea {
  scrollbar-width: thin !important;
}

html::-webkit-resizer,
html::-webkit-scrollbar-thumb {
  background: #aaa !important;
  border-radius: 4px !important;
}

html::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

p {
  text-wrap: pretty;
}

html {
  scroll-behavior: smooth;
}

#plugin-app {
  --uno: w-full absolute top-0 right-0 z-1000;
}

.btns button {
  --uno: btn;
}

.icons > span {
  --uno: text-4 inline-flex items-center text-gray hover:text-teal-700 cursor-pointer;
}

.icons .icon {
  --uno: mx-2;
}

span.icon {
  --uno: inline-flex items-center max-w-4 max-h-4 select-none cursor-pointer;
}

a,
p button {
  --uno: text-teal-600 hover:text-teal-700;
}

p,
h4 {
  --uno: text-black dark:text-white;
}

/* 微博的样式 */
.woo-box-flex img {
  display: initial !important;
  max-width: initial !important;
}
