#plugin-app {
  --uno: absolute top-0 right-0 z-9999;
}

.btns button {
  --uno: btn;
}

.icons > span {
  --uno: inline-flex items-center text-gray hover:text-teal-700 cursor-pointer;
}

.icons .icon {
  --uno: mx-2 ;
}

body {
  --uno: relative;
}

.el-popper {
  --uno: z-9999!;
}

span.icon {
  --uno: inline-flex items-center max-w-4 max-h-4 select-none cursor-pointer ;
}

.el-link, a {
  --uno: hover:decoration-none;
}

#preview a{
  --uno: text-teal-600 hover:text-teal-700;
}

#preview p {
  --uno: text-black;
}
