:root {
  font-size: 14px;
  /* background: #f1f2f5;
  color: #000; */
}

* {
  box-sizing: border-box;
  /* min-width: 0; */
  scrollbar-width: thin !important;
}

*::-webkit-resizer,
*::-webkit-scrollbar-thumb {
  background: #aaa !important;
  border-radius: 4px !important;
}

*::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

#app,
#__nuxt {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  @apply: bg-light-700 dark:bg-dark-700;
}

.n-message-container.n-message-container--top {
  top: 36px !important;
  z-index: 9999 !important;
}

.n-dialog.n-modal {
  width: auto !important;
  max-height: 90dvh;
  overflow-y: auto;
  /* min-width: 446px; */
}
.n-date-panel.n-date-panel--daterange.n-date-panel--shadow {
  @apply: flex-col flex sm:grid;
}

p {
  text-wrap: pretty;
}

html {
  scroll-behavior: smooth;
}

html.dark {
  background: #111111;
  color: #fff;
}

span.icon,
i.icon {
  vertical-align: middle;
  @apply: inline-flex items-center select-none cursor-pointer;
}

#plugin-app {
  @apply: w-full absolute top-0 right-0 z-1000;
}

.btns button {
  @apply: btn;
}

.icons > span {
  @apply: text-4 inline-flex items-center text-gray hover:text-teal-700 cursor-pointer;
}

.icons .icon {
  @apply: mx-2;
}

a,
p button {
  @apply: text-teal-600 hover:text-teal-700;
}

p {
  @apply: text-black dark:text-light;
}

.text-wrap {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
