@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  /* min-width: 0; */
  scrollbar-width: thin !important;
}

*::-webkit-resizer,
*::-webkit-scrollbar-thumb {
  background: #aaa !important;
  border-radius: 4px !important;
}

*::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

body {
  height: 100dvh;
}

p {
  text-wrap: pretty;
}

html {
  scroll-behavior: smooth;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
