name: beta build

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - monkey
    tags-ignore:
      # 发 release 时不触发构建
      - v*
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '!.github/workflows/**'
      # 暂时忽略 desktop 端的改动
      - 'apps/desktop/**'
      - packages/database

jobs:
  install-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install monkey
        run: pnpm install:monkey

      - name: Install Web
        run: pnpm install:web

      - name: Install CLI
        run: pnpm install:cli

      - name: build and zip
        run: pnpm release

      - name: upload monkey
        uses: actions/upload-artifact@v4
        with:
          name: weibo-archiver.user.js
          path: dist/weibo-archiver.user.js

      - name: upload web
        uses: actions/upload-artifact@v4
        with:
          name: weibo-archiver-webapp
          path: dist/weibo-archiver-webapp.zip

      - name: upload scripts
        uses: actions/upload-artifact@v4
        with:
          name: weibo-archiver-scripts
          path: dist/weibo-archiver-scripts.zip

      - name: upload cli
        uses: actions/upload-artifact@v4
        with:
          name: weibo-archiver-cli
          path: dist/weibo-archiver-cli.zip
